@font-face {
  font-family: "PT Sans Caption";
  src: url("../fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Caption";
  src: url("../fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 100%;
  animation: fadeInFromLeft 1s ease forwards;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #4caf50;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans Caption";
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.purchase-button {
  background-color: #fff;
  color: rgba(61, 186, 58, 255);
  border: 2px solid rgba(61, 186, 58, 255);
  border-radius: 50px;
  padding: 10px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
  font-size: 16px;
}

.purchase-button:hover {
  background-color: #4caf50;
  color: #fff;
}

.detox-woman {
  padding: 60px 0;
  position: relative;
  animation: fadeIn 1s ease forwards;
}

.woman-container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.woman-text {
  margin: 0 auto;
  padding-left: 30rem;
}

.woman-text h1 {
  font-size: 8rem;
  color: rgba(61, 186, 58, 255);
  margin: 0;
  font-family: "PT Sans Caption";
  font-weight: bold;
}

.woman-text p {
  font-size: 2rem;
  font-family: "PT Sans Caption";
  margin-top: 0px;
}

.woman-scroll {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.woman-scroll p {
  font-size: 14px;
  color: #000;
  margin-top: 10px;
}

.bag-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 1;
}

.bag-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
}

.bag-middle {
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
