$font-family: "PT Sans Caption";
$transition-time: 0.3s;
$ease: ease;
$color-green: rgb(61, 186, 58);
$color-white: #fff;
$color-black: #000;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: $font-family;
  src: url("../fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: $font-family;
  src: url("../fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf");
  font-weight: bold;
}

header {
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 100%;
  animation: fadeInFromLeft 1s $ease forwards;
}

nav {
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

    li {
      a {
        text-decoration: none;
        color: $color-black;
        font-size: 16px;
        transition: color $transition-time $ease;

        &:hover {
          color: $color-green;
        }
      }
    }
  }
}

.header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family;
}

.navigation-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.purchase-button {
  background-color: $color-white;
  color: $color-green;
  border: 2px solid $color-green;
  border-radius: 50px;
  padding: 10px 40px;
  cursor: pointer;
  transition: background-color $transition-time $ease,
    color $transition-time $ease;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    background-color: $color-green;
    color: $color-white;
  }
}

.detox-woman {
  padding: 60px 0;
  position: relative;
  animation: fadeIn 1s $ease forwards;
}

.woman-container {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.woman-text {
  margin: 0 auto;
  padding-left: 23rem;

  h1 {
    font-size: 8rem;
    color: $color-green;
    margin: 0;
    font-family: $font-family;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
    font-family: $font-family;
    margin-top: 0px;
  }
}

.woman-scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  .scroll-container {
    display: flex;
  }

  p {
    font-size: 14px;
    color: #bea387;
    margin-top: 10px;
    font-family: $font-family;
  }
}

.bag-left,
.bag-right,
.bag-middle {
  position: absolute;
  bottom: 0;
}

.bag-left {
  left: 0;
  width: 200px;
  z-index: 1;
}

.bag-right {
  right: 0;
  width: 300px;
}

.bag-middle {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.scroll-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
